<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-1 text-white"></div>
    <div class="col-sm-3 text-white">
      <div style="text-align: center">
        <img
          src="https://marketplace.canva.com/EAEs44o24ek/1/0/1003w/canva-h%E1%BB%93ng-v%C3%A0-xanh-h%E1%BA%A3i-qu%C3%A2n-%C4%91%C6%A1n-gi%E1%BA%A3n-b%C3%ACa-s%C3%A1ch-th%E1%BB%9Di-trang-S5f9M8dHg1k.jpg"
          width="230" height="340">
      </div>
    </div>
    <div class="col-sm-4">
      <h5> Sách là tất cả</h5>
      <table class="table">
        <tbody>
        <tr>
          <td>* Mã sản phẩm</td>
          <td></td>
          <td>384343222</td>
        </tr>
        <tr>
          <td>* Tác giả</td>
          <td></td>
          <td>Văn Tài</td>
        </tr>
        <tr>
          <td>* Dịch giả</td>
          <td></td>
          <td>Robinson</td>
        </tr>
        <tr>
          <td>* Nhà xuất bản</td>
          <td></td>
          <td>Thông minh</td>
          <!--          <td>Số lượng</td>-->
        </tr>
        <tr>
          <td>* Số trang</td>
          <td></td>
          <td>K43</td>
        </tr>
        <tr>
          <td>* Kích thước</td>
          <td></td>
          <td>23cm x 43cm</td>
        </tr>
        <tr>
          <td>Ngày phát hành</td>
          <td></td>
          <td>20/02/2022</td>
        </tr>
        <button type="button" class="btn btn-primary">Like</button>
        <button type="button" class="btn btn-primary">Share</button>
        </tbody>
      </table>
      <hr>
    </div>
    <div class="col-sm-3">
      <h5> Sách là tất cả</h5>
      <table class="table">
        <tbody>
        <tr>
        </tr>
        <tr>
          <td>Giá bìa</td>
          <td>123000(Đã có thuế)</td>
        <tr>
          <td>Giá shop</td>
          <td>120000</td>
        </tr>
        <tr>
          <td>Số lượng</td>
        </tr>
        <tr>
          <td><input class="form-control text-center" value="1" type="number" style="width: 70px"></td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-primary">Thêm vào giỏ hàng</button>
          </td>
          <td>
            <button type="button" class="btn btn-primary">Mua ngay</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-1 text-white"></div>
  </div>
  <div class="row">
    <div class="col-sm-2 text-white"></div>
    <div class="col-sm-8">
      <h5 style="text-align: center">Giới thiệu sách</h5>
      <p style="text-align: center">Pixi Thông Thái là bộ sách hữu ích dạy kiến thức, kỹ năng cho tuổi tiểu học, được
        mua bản quyền từ NXB danh tiếng nước Đức. Sách được minh họa rực rỡ, trình bày khoa học, kiến thức được chọn lọc
        kỹ càng, có kèm câu hỏi tương tác để bạn nhỏ thêm hào hứng học tập.</p>
    </div>
    <div class="col-sm-2 text-white"></div>
  </div>
  <div class="row">
    <div class="col-sm-2 text-white"></div>
    <div class="col-sm-8">
      <button type="button" class="btn btn-primary">Sách cùng tác giả</button>
      <hr style="background-color: black">
      <div style="display:flex">
        <div>
          <img
            src="https://marketplace.canva.com/EAEs44o24ek/1/0/1003w/canva-h%E1%BB%93ng-v%C3%A0-xanh-h%E1%BA%A3i-qu%C3%A2n-%C4%91%C6%A1n-gi%E1%BA%A3n-b%C3%ACa-s%C3%A1ch-th%E1%BB%9Di-trang-S5f9M8dHg1k.jpg"
            width="140" height="190">
        </div>
        <div style="padding-left: 10px">
          <img
            src="https://marketplace.canva.com/EAEs44o24ek/1/0/1003w/canva-h%E1%BB%93ng-v%C3%A0-xanh-h%E1%BA%A3i-qu%C3%A2n-%C4%91%C6%A1n-gi%E1%BA%A3n-b%C3%ACa-s%C3%A1ch-th%E1%BB%9Di-trang-S5f9M8dHg1k.jpg"
            width="140" height="190">
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-2 text-white"></div>
</div>

