.header1{
  top: 2px;
  left:200px;
  position: relative;
}
.header2{
  top: 2px;
  left:350px;
  position: relative;
}
.title{
  top: 38px;
  left:170px;
  position: relative;
  font-style: italic;
  color: beige;
  font-family: "Eras Medium ITC";
}
.logo{
  top: 10px;
  left:130px;
  position: relative;
}
.search{
  top: 30px;
  left:-180px;
  position: relative;
}
.lup{
  top: 45px;
  left:-210px;
  position: relative;
}
.k{
  padding: 13px;
  top: -8px;
  position: relative;
}
