<div class="container-fluid mt-3">
  <div class="container-fluid">
    <div class="row" style="height: 120px">
      <div class="header col-m-12 col-12 fixed-top">
        <div class="row" style="height: 55px; background-color: #dddddd">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 header1">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Giới thiệu</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">|</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Lịch sử giao dịch</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">|</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Kiểm tra đơn hàng</a>
                  </li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 header2">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Đăng ký</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">|</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Đăng nhập</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="row" style="height: 120px;background-color: #777777">
          <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container-fluid">
              <div>
                <a><img src="https://upload.wikimedia.org/wikipedia/vi/2/24/Logo_Nh%C3%A3_Nam.jpg" alt="Logo"
                        class="logo"
                        style="width: 200px; height: 100px"/></a>
              </div>
              <div>
                <h2 class="title">BỞI VÌ SÁCH LÀ THẾ GIỚI</h2>
              </div>
              <div class="collapse navbar-collapse" id="mynavbar1">
                <ul class="navbar-nav me-auto"></ul>
                <div style="display:flex">
                  <input class="form-control me-2 search" style="width: 320px" type="text" placeholder="Tìm kiếm sách">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-search lup" viewBox="0 0 16 16">
                    <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="row" style="height: 30px; background-color: forestgreen">
<!--          <div class="container-fluid">-->
            <div class="d-flex justify-content-center mb-3">
              <div class="k">
                <a style="color: white">DANH MỤC SÁCH</a>
              </div>
              <div class="k">
                <a style="color: white">SÁCH BÁN CHẠY</a>
              </div >
              <div class="k">
                <a style="color: white">CHƯƠNG TRÌNH KHUYẾN MÃI</a>
              </div>
              <div class="k">
                <a style="color: white">GIẢM GIÁ ĐẶC BIỆT</a>
              </div>
            </div>
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>
