<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Find Product</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<div>
    <form th:action="@{/product/found}"
          method="get" novalidate="novalidate">
        <div>
            <input type="text" placeholder="Enter name product" name="name"/>
        </div>
        <div>
            <input type="submit"/>
        </div>
    </form>
</div>
</body>
</html>