.text-center{
    text-align:center;
    justify-content: center;
    font-weight: bold
}
.text{
    width: 30%;
}
.text-b{
    font-weight: bold;
}
.text-jmg{
    display: flex;
}
img {
    margin: 13px;
}
table{
    width: 100%;
}
.text-c{
   color: green;
}
.text-d{
    font-style: italic;
    color: brown;
}
.text-ct{
    text-align:center;
}
a{
    text-decoration: none;
}
div{
 border-style: ridge;
}
#header{
    background: khaki;
    height: 180px;
    width: 100%;
}
#main{
    background: darkgreen;
    height: 300px;
    width: 99.2%;
    margin: 2px;
}