<div class="container-fluid mt-3">
  <div class="container-fluid">
    <div class="row" style="height: 360px">
      <div class="header col-m-12 col-12 fixed-top">
        <div class="row" style="height: 270px; background-color:lightgrey">
          <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container-fluid">
              <div class="col-1"></div>
              <div class="col-3">
                <ul>
                  <li>
                    <a>Giới thiệu</a>
                  </li>
                  <hr>
                  <li>
                    <a>Chính sách bảo mật</a>
                  </li>
                  <hr>
                  <li>
                    <a>Chính sách vận chuyển</a>
                  </li>
                  <hr>
                  <li>
                    <a>Hình thức thanh toán</a>
                  </li>
                </ul>
              </div>
              <div class="col-4">
                <ul>
                  <li>
                    <a>Quy định đổi, trả và hủy đơn hàng</a>
                  </li>
                  <hr>
                  <li>
                    <a>Hướng dẫn đặt hàng</a>
                  </li>
                  <hr>
                  <li>
                    <a>Liên hệ</a>
                  </li>
                  <hr>
                  <li>
                    <a>Thông báo</a>
                  </li>
                </ul>
              </div>

            </div>
            <div class="col-2"></div>
            <div class="col-2"></div>
          </nav>
        </div>
        <div class="row" style="height: 90px; background-color: forestgreen">
          <ul style="text-align: center; color: white">
            <li>
              © 2014 - Bản quyền của Công Ty Cổ Phần Văn Hoá và Truyền Thông Nhã Nam - nhanam.com.vn
            </li>
            <li>
              Địa chỉ: 59 Đỗ Quang, phường Trung Hoà, quận Cầu Giấy, Hà Nội
            </li>
            <li>
              Giấy ĐKKD số 0101603420 do Sở KH&ĐT TP Hà Nội cấp ngày 21 tháng 1 năm 2005 sửa đổi lần 5 ngày 20/3/2013
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
