<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Track List</h1>
    <a class="btn btn-success" href="/track/create">Crete New Track</a>
    <p th:text="${saveSC}"></p>
    <p th:text="${updateSC}"></p>
    <table class="table table-striped">
        <tr>
            <td>ID</td>
            <td>Track Name</td>
            <td>Artist</td>
            <td>Genre</td>
            <td>Update</td>
        </tr>
        <tr th:each="track : ${trackList}">
            <td th:text="${track.id}"></td>
            <td th:text="${track.name}"></td>
            <td th:text="${track.artist}"></td>
            <td th:text="${track.genre}"></td>
            <td><a th:href="@{track/{id}/update(id=${track.getId()})}">Update</a></td>

        </tr>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>