.input1{
    position: absolute;
    top: 5px ;
    font-size: 12px;
    left: 40px;
}
.header1{
    display: inline-block;
    margin-top: 0;
    float: right;
}
.left1{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    font-size: 12px;
    left: 41px;
    display: block;
}
.img1{
    height: 35px;
    width: 35px;
}
.ul1{
list-style-type: none;
    padding-left: 18px;
    padding-top: 31px;
}

.header1 span {
    padding: 0px 5px;
}